<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001450009450-4jav8auklaep05ja8qe15p1bq555eon2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001450009450-4jav8auklaep05ja8qe15p1bq555eon2</string>
	<key>API_KEY</key>
	<string>AIzaSyBQJ-1DRjohbwMwv5V6LNZIPP55f0PSDHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1001450009450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamittirpan.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-1a5c6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-1a5c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001450009450:ios:77e21c5d7cd8f7a7f7ab13</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-1a5c6.firebaseio.com</string>
</dict>
</plist>